.App {
  text-align: center;
}

body{
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #fc00ff);
}



/*Lista de memes*/
.card-list-Meme {
	padding-top: 40px;
	
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: 40px;
	background-color: rgb(54, 54, 143);
	text-decoration: none;
}
.card-Meme {
	cursor: pointer;
	text-decoration: none;
	
}

.card-img {
	/*background-color: rgb(54, 54, 143);*/
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	height: 40px;
}

.card-title {
  margin-top: 10px;
  margin-left: 10px;
	color: #fbfafa;
	text-decoration: none;
}
.imgmeme {
  width: 100px;
  height: 50px;
}

/*Meme seleccionado*/
.container-img {
  position:absolute;
  max-width: 300px;
  max-height: 400px;
  margin-left: 0px;
  margin-top:30px;
  
}  

.figure-img {
  max-width: 300px;
  max-height: 400PX;
}


.textoArriba{
    width: 85%;
    margin-left: 20px;
    margin-right: 10px;
    position:absolute;
    padding:10px 0px 10px 0px;
    
}

.textoAbajo{
	  width: 85%;
    bottom: 1%;
    position:absolute;
    margin-left: 20px;
    margin-right: 10px;
    padding:10px 0px 10px 0px;

}







.inputs input{
  margin: 0 5px;
}

.inputText{
  padding: 4px;
  border-radius: 10px;
}

@media (max-width: 768px) {
	.card-list-Meme {
		
		grid-template-columns: repeat(2, 1fr);
		
	}
  .container-img {
    
    margin-left: 10%;
    
  }  


}

@media (min-width: 768px) and (max-width: 1149px) {
	.card-list-Meme {
		
		grid-template-columns: repeat(4, 1fr);
		
	}

  }

  @media (min-width: 1150px) and (max-width: 1348px){
	.card-list-Meme {
		
		grid-template-columns: repeat(6, 1fr);
		
	}

	
  }

  @media (min-width: 1349px) {
	.card-list-Meme {
		
		grid-template-columns: repeat(8, 1fr);
		
	}

  }
